@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

/* shop */

.shop-container {
  display: flex;
  gap: 40px;
}
.shop-container table {
  border-collapse: collapse;
  margin-top: 10px;
}
.shop-container th,
.shop-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.shop-container th {
  background-color: #f2f2f2;
}

/* farm */

.sidebar {
  width: 200px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
.farm summary.control {
  top: 40px;
  right: 20px;
  font-weight: bold;
  line-height: 24px;
}
.farm details.control {
  top: 60px;
  right: 20px;
}
.farm summary.menu {
  bottom: 10px;
  left: 30px;
  font-weight: bold;
  line-height: 24px;
}
.farm details.menu {
  bottom: 48px;
  left: 30px;
}
.farm .stats {
  bottom: 10px;
  left: 82px;
  line-height: 24px;
}
.farm .error-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 100;
}
.float-box {
  position: fixed;
  background-color: #fff;
}
.farm summary,
.farm .stats {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.farm details[open] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.farm table {
  border-collapse: collapse;
}
.farm thead {
  position: sticky;
  top: 0;
  background-color: #915151;
  font-weight: bold;
  z-index: 9;
}
.farm thead th:nth-child(odd) {
  background-color: #6e4242;
}
.farm td:first-child {
  background-color: #915151;
  position: sticky;
  left: 0;
  font-weight: bold;
  text-align: center;
  z-index: 8;
}
.farm tr:nth-child(even) td:first-child {
  background-color: #6e4242;
}
.farm td {
  padding: 0;
}
.farm input[type="checkbox"] {
  display: none;
}
.farm input[type="checkbox"]:checked + label {
  background-color: yellow;
  opacity: 0.7;
}
.cell {
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 2px black;
  background-size: contain;
}
.cell:hover {
  filter: brightness(1.5);
}
